packages: [
  "atom-clock"
  "atom-ide-ui"
  "ftp-remote-edit"
  "ide-css"
  "ide-html"
  "ide-json"
  "ide-php"
  "ide-python"
  "mariana-syntax"
  "minimap"
  "monokai"
  "package-sync"
  "tree-view-breadcrumb"
]
