packages: [
  "atom-beautify"
  "atom-clock"
  "atom-ide-ui"
  "atom-symfony-snippets"
  "cobalt2-syntax"
  "emmet"
  "fold-comments"
  "ftp-remote-edit"
  "ide-php"
  "language-smarty"
  "language-twig"
  "mariana-syntax"
  "minimap"
  "monokai"
  "package-sync"
  "php-cs-fixer"
  "php-twig"
  "pretty-json"
  "react"
  "recursive-folding"
  "split-diff"
  "standard-formatter"
  "tree-view-breadcrumb"
  "xml-formatter"
]
