<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ac.dotfiles</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2B6B1CB2-7545-4EB9-9FFB-5BE39C2CB907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28876252-F768-4DF5-8DF1-0E48209EDFE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B6F6F81A-ECAD-43E1-81DD-66A62451FDAA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28876252-F768-4DF5-8DF1-0E48209EDFE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC3162A2-F550-4F58-BD8D-318EC39874D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D3CCB00C-A7B1-478A-9098-9FC8DF108382</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1AA0A5B-C78C-4C84-92C4-02EB41AE3B94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B6B1CB2-7545-4EB9-9FFB-5BE39C2CB907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ange Chierchia</string>
	<key>description</key>
	<string>Utilitaire pour mettre à jour le dossier `~/.dotfiles`</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dotfiles Utility</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/.dotfiles &amp;&amp; git pull origin master</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>28876252-F768-4DF5-8DF1-0E48209EDFE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>dotfiles</string>
				<key>subtext</key>
				<string>Utilitaire pour mettre à jour ~/.dotfiles</string>
				<key>text</key>
				<string>Dotfiles Utility</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1AA0A5B-C78C-4C84-92C4-02EB41AE3B94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update</string>
						<key>outputlabel</key>
						<string>UPDATE</string>
						<key>uid</key>
						<string>B6F6F81A-ECAD-43E1-81DD-66A62451FDAA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>upgrade</string>
						<key>outputlabel</key>
						<string>UPGRADE</string>
						<key>uid</key>
						<string>D3CCB00C-A7B1-478A-9098-9FC8DF108382</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2B6B1CB2-7545-4EB9-9FFB-5BE39C2CB907</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/.dotfiles
git add .
git commit -m "update dotfiles"
git push origin master
exit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FC3162A2-F550-4F58-BD8D-318EC39874D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28876252-F768-4DF5-8DF1-0E48209EDFE7</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>2B6B1CB2-7545-4EB9-9FFB-5BE39C2CB907</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>B1AA0A5B-C78C-4C84-92C4-02EB41AE3B94</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>FC3162A2-F550-4F58-BD8D-318EC39874D0</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chierchia.fr</string>
</dict>
</plist>
