<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ibk.server.start</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34BFC996-F363-4B1F-9D21-E78E5B512263</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ange Chierchia</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Start Working on Ibakus' Symfony</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/Works/ibakus.com/htdocs &amp;&amp; mysql.server start &amp;&amp; bin/console server:start &amp;&amp; atom .</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Local Server Started</string>
				<key>title</key>
				<string>Ibakus Dev</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>34BFC996-F363-4B1F-9D21-E78E5B512263</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>startibk</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start Working on Ibakus' Symfony</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>34BFC996-F363-4B1F-9D21-E78E5B512263</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>chierchia.fr</string>
</dict>
</plist>
