<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ac.nodekill</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E12734EE-C584-4AB1-A005-DDBF23089D23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCAC674F-0954-4156-B9DA-6A8E969D8A92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ange Chierchia</string>
	<key>description</key>
	<string>Supprime tous les dossiers node_modules dans `~/Repositories`</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Node Modules Killer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rmnode</string>
				<key>subtext</key>
				<string>Supprime tous les dossiers node_modules dans `~/Repositories`</string>
				<key>text</key>
				<string>Node Modules Killer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E12734EE-C584-4AB1-A005-DDBF23089D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/Repositories
find . -name 'node_modules' -type d -prune -print -exec rm -rf '{}' \;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCAC674F-0954-4156-B9DA-6A8E969D8A92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>E12734EE-C584-4AB1-A005-DDBF23089D23</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FCAC674F-0954-4156-B9DA-6A8E969D8A92</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://chierchia.fr</string>
</dict>
</plist>
